<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .container {

      padding: 15px;
      margin-top: 20px;
    }
  </style>
</head>

<body>

 <div class="container">
     <br>
     <center> <h2>TinkerNews</h2></center>
     <br><br>
    <form action="/loginFn" method="post">
      <div class=" form-group">
        <label for="exampleFormControlInput1">Username</label><input type="text" class="form-control" name="username" id="FormControlInput1" placeholder="" required>
      </div>
            <div class=" form-group">
        <label for="exampleFormControlInput1">Password</label><input type="password" class="form-control" name="password" id="FormControlInput1" placeholder="" required>
      </div>

    <br><br>
      <center><input class="btn btn-primary" type="submit" value="Login">
      </center>
    </form>
  </div>
</body>

</html>